:root {
    --background-color: #14181c;
    --primary-color: #5db7de;
    --primary-color-dark: #03354b;
    --secondary-color: #98CBB4;
    --secondary-color-dark: #7BA098;
    --gray-color: #ccc;
    --gray-color-dark: #333;
    
    }